{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "~api": "./src/api",
          "~loaders": "./src/loaders",
          "~configs": "./src/configs",
          "~helpers": "./src/helpers"
        }
      }
    ]
  ]
}
